html,body{
  height:vh;
}
.info{
  display:none;
}
header h1{
  text-align: center;
}
.image{
  width:30%;
  display: block;
  float:left;
}
.image img{
  height:20%;
  width:15rem;
  float:left;
}
.outer{
  width:15%;
  float:left;
  display: block;
  border:solid;
  padding:5px 5px 5px 5px;
  margin-bottom:5px;
}
.exc{
clear: left;
width:15%;
height:50%;
float:left;
display: block;
border:solid;
padding:5px 5px 5px 5px;
}
.inner {
  width:96%;
  border:solid;
  margin: 0 auto;
  font-size: 2vh;
  font-family: monospace,sans-serif;
  padding: 2px 2px 2px 2px;
  overflow: auto;
}
@media only screen and (max-width:750px){
  .outer, .exc, .inner{
    display:none;
}
.info{
  display:block;
  width:100%;
  height: 20%;
  margin-bottom:70px;
}
.image1{
  margin:0 auto;
  width:70%;
  height:70%;
  display: block;
  border:solid;
}
.image1 img {
  width:100%;
  height:100%;
}
